<p>
    StockWasp supports various comapnies from 10 main sectors of the economy you can
    explore. Choose one below and be redirected to a random relevant stock.
</p>

<ul>
    <li>
        <a href="/random?sector=materials" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-bricks"
                viewBox="0 0 16 16">
                <path
                    d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z" />
            </svg>
            Basic Materials
        </a>
    </li>
    <li>
        <a href="/random?sector=communication%20services" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-broadcast"
                viewBox="0 0 16 16">
                <path
                    d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
            </svg>
            Communication Services
        </a>

    </li>
    <li>
        <a href="/random?sector=consumer%20cyclical" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-bag"
                viewBox="0 0 16 16">
                <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
            </svg>
            Consumer Cyclical
        </a>

    </li>

    <li>
        <a href="/random?sector=energy" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-lightning"
                viewBox="0 0 16 16">
                <path
                    d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z" />
            </svg>
            Energy
        </a>

    </li>
    <li>
        <a href="/random?sector=financial%20services" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-bank"
                viewBox="0 0 16 16">
                <path
                    d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z" />
            </svg>
            Financial Services
        </a>

    </li>
    <li>
        <a href="/random?sector=healthcare" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-hospital"
                viewBox="0 0 16 16">
                <path
                    d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z" />
                <path
                    d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z" />
            </svg>
            Healthcare
        </a>

    </li>
    <li>
        <a href="/random?sector=industrials" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                viewBox="0 0 512 512" enable-background="new 0 0 512 512" height="16" width="16" fill="grey">
                <g>
                    <g>
                        <path
                            d="M392.2,116.3l-76,119.9v144.9h-51.7v-61.5h-53.6L99.7,11L36.3,30.8l3.2,9.1v136.8C23.7,182,11,197.6,11,216.4    c0,21.9,18,40.7,39.1,40.7c21.1,0,39.1-18.8,39.1-40.7H68c0,11.5-8.4,20.9-18,20.9c-9.5,0-18-9.4-18-20.9c0-11.5,7.4-20.9,18-20.9    h10.6v-94.8l80.3,231v49.3H75.4V501H501V116.3H392.2z M244.4,339.4v41.7H162v-41.7H244.4z M87,36l101.4,283.6h-30.6l-95-275.2    L87,36z M480.9,480.1H96.5V402h384.4V480.1z M336.3,241.4l67.6-105.3h76v239.8H336.3V241.4z" />
                        <path d="m369,216.4v35.4h95v-99h-52.8l-42.2,63.6zm75-43.8v58.4h-53.9v-8.3l32.7-50h21.2z" />
                    </g>
                </g>
            </svg>
            Industrials
        </a>

    </li>
    <li>
        <a href="/random?sector=real%20estate" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-house-door"
                viewBox="0 0 16 16">
                <path
                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
            </svg>
            Real Estate
        </a>

    </li>
    <li>
        <a href="/random?sector=technology" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-cpu"
                viewBox="0 0 16 16">
                <path
                    d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
            </svg>
            Technology
        </a>

    </li>
    <li>
        <a href="/random?sector=utilities" style="text-decoration: none; color: black">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                id="Layer_1" x="0px" y="0px" viewBox="0 0 512.613 512.613" fill="grey"
                style="enable-background: new 0 0 512.613 512.613" xml:space="preserve" width="16" height="16">
                <g transform="translate(1 1)">
                    <g>
                        <g>
                            <path
                                d="M493.693,408.906c-9.141-9.141-20.701-14.641-32.759-16.529c-34.69-19.979-78.716-58.254-106.334-85.871l-51.05-51.35     l48.49-48.49c31.573-31.573,61.44-53.76,94.72-70.827c0.14-0.047,0.266-0.117,0.4-0.173c16.321-1.078,32.211-7.766,43.12-19.454     c14.507-14.507,21.333-34.987,19.627-55.467c0-2.56-1.707-5.12-4.267-6.827s-5.973-1.707-8.533,0l-41.813,24.747     c-11.093-5.12-17.92-16.213-17.067-29.013l40.96-23.893c2.56-0.853,4.267-4.267,4.267-6.827c0-3.413-1.707-5.973-4.267-7.68     c-30.72-20.48-71.68-11.947-93.013,17.92c-7.311,10.389-11.314,22.34-12.11,34.444c-17.045,33.16-39.189,63.788-70.664,95.263     l-47.922,47.922l-45.945-46.215c-31.573-31.573-53.76-61.44-70.827-94.72c-0.213-0.638-0.532-1.224-0.931-1.743     c-1.471-15.713-8.111-30.339-19.549-41.777c-15.36-15.36-32.427-23.04-51.2-23.04c-2.56,0-5.12,1.707-6.827,4.267     s-1.707,5.12-0.853,7.68l21.333,46.08v0.853c-5.12,10.24-15.36,17.067-26.453,17.92L22.653,28.32     c-1.707-1.707-4.267-3.413-6.827-3.413s-5.12,1.707-6.827,4.267c-19.627,29.013-9.387,75.093,22.187,97.28     c11.141,7.958,23.766,12.202,36.492,12.738c32.674,16.962,62.12,38.941,93.215,70.035l45.094,45.359l-47.654,47.654     c-17.917,17.917-49.484,40.953-95.554,71.667c-16.058,1.294-31.027,7.981-42.686,19.64     C5.586,408.053-1.241,428.533,0.466,449.013c0,2.56,1.707,5.12,4.267,6.827s5.973,1.707,8.533,0l41.813-24.747     c11.093,5.973,17.92,17.067,17.067,29.867l-40.96,23.893c-2.56,0.853-4.267,3.413-4.267,6.827s1.707,5.973,4.267,7.68     c11.947,7.68,24.747,11.093,37.547,11.093c21.333,0,41.813-10.24,55.467-29.867c8.038-11.423,12.086-24.734,12.258-38.06     c29.712-45.2,52.138-74.975,69.662-92.5l47.514-47.514l52.326,52.634c27.947,27.947,66.811,71.86,86.582,107.555     c2.445,11.666,8.36,22.373,16.672,30.685c11.093,11.947,25.6,17.92,41.813,17.92c16.213,0,30.72-5.973,42.667-17.92     s17.92-27.307,17.92-42.667C511.613,435.36,504.786,420,493.693,408.906z M110.546,471.2c-12.8,17.92-35.84,25.6-56.32,19.627     l30.72-17.92c2.56-1.707,4.267-4.267,4.267-6.827v-4.267c1.707-19.627-9.387-37.547-26.453-46.08l-4.267-1.707     c-2.56-1.707-5.12-1.707-7.68,0L18.386,432.8c1.707-10.24,6.827-19.627,14.507-27.307c11.093-10.24,25.6-16.213,40.96-14.507     c12.96,1.44,24.692,7.754,33.172,17.377c1.248,1.523,2.429,3.122,3.521,4.81c5.12,7.68,8.533,17.067,8.533,27.307     c0,1.131,0.177,2.09,0.51,2.961C119.331,453.191,116.355,462.901,110.546,471.2z M195.026,339.786     c-16.18,15.328-36.61,41.707-62.137,79.979c-1.879-5.585-4.493-10.964-7.837-15.979c-8.798-12.569-20.843-21.881-34.757-26.607     c7.095-4.732,13.784-9.29,20.072-13.678l12.125,12.125c1.707,1.707,3.413,2.56,5.973,2.56s5.12-0.853,5.973-2.56     c3.413-3.413,3.413-8.533,0-11.947l-10.113-10.113c5.207-3.786,10.094-7.435,14.653-10.947l8.26,8.26     c1.707,1.707,3.413,2.56,5.973,2.56c1.707,0,4.267-0.853,5.973-2.56c3.413-3.413,3.413-8.533,0-11.947l-6.914-6.914     c7.38-6.118,13.652-11.77,18.861-16.979l47.787-46.933L242.813,292L195.026,339.786z M400.679,38.56     c10.24-14.507,25.6-22.187,41.813-22.187c5.12,0,10.24,0.853,13.653,1.707L425.426,36c-2.56,1.707-4.267,4.267-4.267,6.827v4.267     c-0.853,19.627,9.387,37.547,26.453,46.08l5.12,2.56c2.56,1.707,5.12,1.707,7.68,0l32.427-18.773     c-1.707,10.24-6.827,19.627-14.507,27.307c-9.531,8.798-21.585,14.431-34.533,14.764c-0.657-0.165-1.364-0.258-2.161-0.258     c-3.952,0-7.807-0.477-11.523-1.361c-12.356-3.219-23.129-10.938-30.29-21.68C388.733,78.666,388.733,55.626,400.679,38.56z      M316.199,169.973c25.6-25.6,46.08-51.2,61.44-78.507c1.707,5.12,4.267,9.387,6.827,13.653     c4.402,6.602,9.716,12.061,15.582,16.51c5.338,4.217,11.215,7.621,17.518,10.052c-27.235,16.196-51.932,36.643-78.327,63.038     l-48.027,48.027l-23.823-23.963L316.199,169.973z M17.533,51.36l24.747,38.4c1.707,1.707,4.267,3.413,6.827,3.413     c17.92,1.707,37.547-10.24,46.08-27.307l2.56-4.267c0.853-2.56,0.853-5.12,0-7.68L81.533,18.933     c8.533,3.413,17.067,8.533,24.747,16.213c10.24,11.093,16.213,25.6,14.507,40.96c-1.44,12.96-7.754,24.692-17.377,33.172     c-1.523,1.248-3.121,2.429-4.81,3.521c-1.411,1.098-2.881,2.078-4.402,2.95c-2.699,1.452-5.514,2.652-8.408,3.589     c-4.553,1.363-9.42,1.994-14.497,1.994c-1.131,0-2.09,0.177-2.961,0.51c-9.75-0.258-19.46-3.234-27.759-9.043     C20.946,99.146,12.413,72.693,17.533,51.36z M261.864,287.158c-0.425-1.029-1.082-1.935-1.985-2.838l-35.84-35.84     c-0.824-0.824-1.749-1.445-2.724-1.871l-48.476-48.476c-26.453-26.453-51.2-46.933-78.507-63.147     c4.267-2.56,9.387-4.267,12.8-6.827c6.602-4.401,12.061-9.716,16.51-15.582c4.218-5.34,7.622-11.219,10.054-17.523     c17.041,27.237,36.639,51.935,63.036,78.332l145.92,146.773c22.656,22.656,56.862,52.732,88.828,74.824     c-8.176,2.839-15.823,7.478-22.268,13.923c-7.452,6.92-12.579,15.169-15.383,24.331c-5.87-8.512-12.307-17.184-19.028-25.761     l10.517-10.517c3.413-3.413,3.413-8.533,0-11.947c-3.413-3.413-8.533-3.413-11.947,0l-9.222,9.222     c-3.756-4.554-7.549-9.037-11.335-13.412l7.757-7.757c3.413-3.413,3.413-8.533,0-11.947c-3.413-3.413-8.533-3.413-11.947,0     l-7.025,7.025c-8.023-8.871-15.793-17.042-22.842-24.091L261.864,287.158z M480.893,481.44c-7.68,8.533-18.773,12.8-29.867,12.8     c-11.093,0-21.333-5.12-29.867-12.8c-6.18-5.562-10.11-12.917-11.814-20.763c0.065-0.726,0.026-1.487-0.132-2.277     c-1.707-13.653,2.56-27.307,11.947-36.693c9.387-9.387,23.04-13.653,36.693-11.947c0.466,0,0.92-0.024,1.365-0.066     c8.188,1.59,15.898,5.593,21.675,12.013c8.533,7.68,12.8,18.773,12.8,29.867C493.693,462.666,488.573,472.906,480.893,481.44z" />
                            <path
                                d="M474.919,443.04h-15.36v-16.213c0-5.12-3.413-8.533-8.533-8.533c-5.12,0-8.533,3.413-8.533,8.533v16.213h-16.213     c-5.12,0-8.533,3.413-8.533,8.533c0,5.12,3.413,8.533,8.533,8.533h16.213v15.36c0,5.12,3.413,8.533,8.533,8.533     c5.12,0,8.533-3.413,8.533-8.533v-15.36h15.36c5.12,0,8.533-3.413,8.533-8.533C483.453,446.453,480.039,443.04,474.919,443.04z" />
                        </g>
                    </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
            </svg>
            Utilities
        </a>

    </li>
</ul>