<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <title>HTML 5 Boilerplate</title>
</head>

<body>
    <%- include('./components/Nav.ejs', {current_page: 'other' }) %>
        <div class="container">
            <h1>Insider trading</h1>
            <p>Here you can find any and all SEC fillings for top execs who work at their respsected compaines. The
                purpose of this is craete transparencty for the public and showcase where money is going.</p>
        </div>
</body>

</html>