<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <title>HTML 5 Boilerplate</title>
</head>

<body>
    <%- include('./components/Nav.ejs', {current_page: 'other' }) %>
        <div class="container">
            <h1>Insider trading</h1>
            <p>Insider trading is the transfer of a company's securities by employees with access to confidential or non-public information about the company. It is illegal to engage in this activity without reporting to the SEC and making transaction details open to the public. These records help establish transparency and ensure there are no malicious actors within a company abusing their privilege.</p></pInsider>
            <p>Here you can search for the most recent SEC filings for any public company. Each record will show the person involved in the transaction along with the number of securities traded. </p>
            <a href='/insider/aapl'>Apple</a>
        </div>
</body>

</html>