<!DOCTYPE html>
<html lang="en">

<head>
  <title>Privacy Policy</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap.min.css" />
  <script src="/bootstrap.min.js"></script>
  <meta name="robots" content="index, follow" />
  <link rel="canonical" href="https://stockwasp.com/privacy" />
  <style>
    .nav-link {
      color: white
    }
  </style>
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <%- include('./components/googleAnalytics.ejs') %>
</head>

<body>
  <%- include('./components/Nav.ejs', {current_page: 'privacy'}) %>

    <div class="container pt-5">
      <h1>Privacy Policy</h1>
      <p class="text-secondary">Last updated 7/7/2022</p>

      <p>
        This Privacy Policy document contains the types of information collected and its use.
      </p>

      <h2>Consent</h2>

      <p>
        By using this website, you consent to our Privacy Policy and agree to its terms.

      </p>

      <h2>Information we collect</h2>
      <p>
        Information collected is from user behavior such as engagement, time spent on site, and technology used. Note
        that StockWasp does not have any access to personally identifiable data.

      </p>

      <h2>How we use your information</h2>

      <p>We use the information collected to:</p>

      <ul>
        <li>Analyze website traffic</li>
      </ul>

      <h2>Log Files</h2>

      <p>
        StockWasp follows a standard procedure of using log files. These files log visitors when they visit websites.
        All hosting companies do this and are a part of hosting services' analytics. The information collected by log
        files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time
        stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any personally
        identifiable information. The information is for analyzing trends, administering the site, tracking users'
        movement on the website, and gathering demographic information.

      </p>

      <h2>Cookies and Web Beacons</h2>

      <p>
        Like any other website, this one also uses cookies. These cookies are used to store information, including
        visitors' preferences and the pages on the website that the visitor accessed or visited. The data is used to
        optimize the user's experience by customizing our web page content based on visitors' browsers and other
        information.
      </p>

      <p>
        For more general information on cookies, please read
        <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank" rel="noreferrer">this</a>.
      </p>

      <h2>Third Party Privacy Policies</h2>

      <p>
        StockWasp's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult
        the respective Privacy Policies of these third-party ad servers for more detailed information. It may include
        their practices and instructions about opting out of specific options.

      </p>

      <ul>
        <li>
          <a href="https://policies.google.com/privacy?hl=en-US" rel="noreferrer" target="_blank">
            Google
          </a>
        </li>
      </ul>

      <p>
        You can choose to disable cookies through your browser options. It can be found on the browser's websites to
        know more detailed information about cookie management with specific web browsers.
      </p>
    </div>

</body>

</html>